In [2]:
#Relax Challenge

Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate
days  in  at  least  one  seven­day  period ,  identify  which  factors  predict  future  user
adoption.
We  suggest  spending  1­2  hours  on  this,  but  you're  welcome  to  spend  more  or  less.
Please  send  us  a  brief  writeup  of  your  findings  (the  more  concise,  the  better  ­­  no  more
than  one  page),  along  with  any  summary  tables,  graphs,  code,  or  queries  that  can  help
us  understand  your  approach.  Please  note  any  factors  you  considered  or  investigation
you  did,  even  if  they  did  not  pan  out.  Feel  free  to  identify  any  further  research  or  data
you  think  would  be  valuable.

In [4]:
#imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import datetime as dt
import os
import io 

# Show plots inline
%matplotlib inline

In [5]:
users = pd.read_csv('/Users/ofrioren/GIT/relax_challenge/takehome_users.csv', encoding='ISO-8859-1')
users

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [6]:
user_eng = pd.read_csv('/Users/ofrioren/GIT/relax_challenge/takehome_user_engagement.csv', encoding='ISO-8859-1')
user_eng

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [7]:
#Rename a column so I can join the tables
users = users.rename(columns={'object_id':'user_id'})
users

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [8]:
#Merge the dfs
user_data = pd.merge(users, user_eng, on='user_id')
user_data

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,1
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,1
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,1
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,1
...,...,...,...,...,...,...,...,...,...,...,...,...
207912,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,2013-09-06 06:14:15,1
207913,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,2013-01-15 18:28:37,1
207914,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,2014-04-27 12:45:16,1
207915,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,2012-06-02 11:55:59,1
207916,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,2014-01-26 08:57:12,1

In [9]:
# Count the total visits for each user
user_data['total_visits'] = user_data.groupby('user_id')['visited'].transform('count')

# Create the 'adopted' column based on the condition
user_data['adopted'] = user_data['total_visits'].apply(lambda x: 1 if x > 3 else 0)

user_data

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited,total_visits,adopted
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1,1,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,1,14,1
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,1,14,1
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,1,14,1
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,1,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207912,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,2013-09-06 06:14:15,1,1,0
207913,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,2013-01-15 18:28:37,1,1,0
207914,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,2014-04-27 12:45:16,1,1,0
207915,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,2012-06-02 11:55:59,1,1,0
207916,12000,2014-01-26 08:57:12,Lima Thaís,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,2014-01-26 08:57:12,1,1,0

In [10]:
#What percent of users adopt this product?
adoption = user_data.adopted.sum()/len(user_data['adopted'])
print(adoption)

0.9632641871516038

In [11]:
user_data.describe()

,user_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,visited,total_visits,adopted
count,207917.000000,2.079170e+05,207917.000000,207917.000000,207917.000000,116887.000000,207917.0,207917.000000,207917.000000
mean,5913.314197,1.399439e+09,0.258137,0.154533,164.315895,5972.167555,1.0,255.839777,0.963264
std,3394.941674,8.294017e+06,0.437611,0.361460,121.165846,3247.095621,0.0,157.722007,0.188113
min,1.000000,1.338452e+09,0.000000,0.000000,0.000000,3.000000,1.0,1.000000,0.000000
25%,3087.000000,1.401045e+09,0.000000,0.000000,60.000000,3269.000000,1.0,123.000000,1.000000
50%,5682.000000,1.401665e+09,0.000000,0.000000,145.000000,5972.000000,1.0,255.000000,1.000000
75%,8944.000000,1.401868e+09,1.000000,0.000000,260.000000,8513.000000,1.0,379.000000,1.000000
max,12000.000000,1.402067e+09,1.000000,1.000000,416.000000,11999.000000,1.0,606.000000,1.000000

In [12]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     207917 non-null  int64
 1   creation_time               207917 non-null  object
 2   name                        207917 non-null  object
 3   email                       207917 non-null  object
 4   creation_source             207917 non-null  object
 5   last_session_creation_time  207917 non-null  float64
 6   opted_in_to_mailing_list    207917 non-null  int64
 7   enabled_for_marketing_drip  207917 non-null  int64
 8   org_id                      207917 non-null  int64
 9   invited_by_user_id          116887 non-null  float64
 10  time_stamp                  207917 non-null  object
 11  visited                     207917 non-null  int64
 12  total_visits                207917 non-null  int64
 13  adopted                     207917 non-null  int64
dtypes: float64(2), int64(7), object(5)
memory usage: 22.2+ MB

In [13]:
#I'm going to drop some of the columns that do not have predictive value or are repetitions. 
user_data = user_data.drop(['name', 'email', 'last_session_creation_time', 'time_stamp', 'visited'], axis=1)
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 9 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     207917 non-null  int64
 1   creation_time               207917 non-null  object
 2   creation_source             207917 non-null  object
 3   opted_in_to_mailing_list    207917 non-null  int64
 4   enabled_for_marketing_drip  207917 non-null  int64
 5   org_id                      207917 non-null  int64
 6   invited_by_user_id          116887 non-null  float64
 7   total_visits                207917 non-null  int64
 8   adopted                     207917 non-null  int64
dtypes: float64(1), int64(6), object(2)
memory usage: 14.3+ MB

In [25]:
#I'm going to modify the remaining data to be usable. 

user_data['creation_time'] = pd.to_datetime(user_data['creation_time']).astype('int64') / 1e9

# Perform one-hot encoding on 'creation_source'
ohe = pd.get_dummies(user_data['creation_source'], drop_first=True)

# Concatenate the one-hot encoded columns with the original DataFrame
user_data = pd.concat([user_data, ohe], axis=1).drop(['creation_source'], axis=1)

user_data

,user_id,creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,total_visits,adopted,ORG_INVITE,PERSONAL_PROJECTS,SIGNUP,SIGNUP_GOOGLE_AUTH
0,1,1.398139e+09,1,0,11,10803.0,1,0,False,False,False,False
1,2,1.384487e+09,0,0,1,316.0,14,1,True,False,False,False
2,2,1.384487e+09,0,0,1,316.0,14,1,True,False,False,False
3,2,1.384487e+09,0,0,1,316.0,14,1,True,False,False,False
4,2,1.384487e+09,0,0,1,316.0,14,1,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
207912,11996,1.378448e+09,0,0,89,8263.0,1,0,True,False,False,False
207913,11997,1.357843e+09,0,0,200,NaN,1,0,False,False,False,True
207914,11998,1.398603e+09,1,1,83,8074.0,1,0,False,False,False,False
207915,11999,1.338465e+09,0,0,6,NaN,1,0,False,True,False,False
207916,12000,1.390727e+09,0,1,0,NaN,1,0,False,False,True,False

In [27]:
# Fill NaN values in 'invited_by_user_id' with 0
user_data['invited_by_user_id'] = user_data['invited_by_user_id'].fillna(0)

# Convert the boolean columns to integers (0s and 1s)
booleans = ['ORG_INVITE', 'PERSONAL_PROJECTS', 'SIGNUP', 'SIGNUP_GOOGLE_AUTH']
user_data[booleans] = user_data[booleans].astype(int)

user_data

,user_id,creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,total_visits,adopted,ORG_INVITE,PERSONAL_PROJECTS,SIGNUP,SIGNUP_GOOGLE_AUTH
0,1,1.398139e+09,1,0,11,10803.0,1,0,0,0,0,0
1,2,1.384487e+09,0,0,1,316.0,14,1,1,0,0,0
2,2,1.384487e+09,0,0,1,316.0,14,1,1,0,0,0
3,2,1.384487e+09,0,0,1,316.0,14,1,1,0,0,0
4,2,1.384487e+09,0,0,1,316.0,14,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
207912,11996,1.378448e+09,0,0,89,8263.0,1,0,1,0,0,0
207913,11997,1.357843e+09,0,0,200,0.0,1,0,0,0,0,1
207914,11998,1.398603e+09,1,1,83,8074.0,1,0,0,0,0,0
207915,11999,1.338465e+09,0,0,6,0.0,1,0,0,1,0,0
207916,12000,1.390727e+09,0,1,0,0.0,1,0,0,0,1,0

In [31]:
#I'll run an OLS model to see how the features compare.


#imports
import sklearn.model_selection
from sklearn.preprocessing import OneHotEncoder as OHE
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.decomposition import PCA

In [42]:
# In order to see how the data collected might indicate adoption, I'll do a Logistic Regression model.

# Split the data into features (X) and target (y)
y = user_data['adopted']
X = user_data.drop(['adopted'], axis=1)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Instantiate and train the LogisticRegression model
lm = LogisticRegression()
lm.fit(X_train, y_train)

# Make predictions using the trained model
predict = lm.predict(X_test)  

# Output table of coefficients per variable
coefficients = pd.DataFrame(lm.coef_[0], X.columns, columns=['Coefficient'])  # lm.coef_ is a 2D array
print(coefficients)

                             Coefficient
user_id                     1.004141e-14
creation_time               2.401784e-09
opted_in_to_mailing_list    5.555018e-19
enabled_for_marketing_drip  3.293329e-19
org_id                      5.250479e-16
invited_by_user_id          7.908782e-15
total_visits                2.698426e-15
ORG_INVITE                  4.139176e-19
PERSONAL_PROJECTS           2.473208e-19
SIGNUP                     -3.726725e-20
SIGNUP_GOOGLE_AUTH          4.012798e-19

In [44]:
#It looks like the most important features are 'user_id', 'creation_time', 'org_id', 'invited-by', and 'total_visits'.
#I'll check another approach just to confirm.

from sklearn.feature_selection import SelectKBest, f_regression

# Assuming X is your feature matrix and y is your target variable
selector = SelectKBest(f_regression, k=5) # Select top 5 features
X_new = selector.fit_transform(X, y)

# Get the selected feature names
selected_features = X.columns[selector.get_support()]
print(selected_features)

Index(['creation_time', 'org_id', 'total_visits', 'ORG_INVITE', 'SIGNUP'], dtype='object')

It appears that the most important factors for user adoption are when they signed up, their organization, the frequency of their visits, which organization invited them, and whether they signed up through the website. I would recommend doing research into which organizations use this product or service for professional projects and trying to market towards businesses during specific points of the year.